@{
    //default sayfa gelmez
    Layout = null;
}

@model Product

@section Top{
    <div>
        Only for Get Header
    </div>
}

<div>
    <h3>@Model.ProductName</h3>
    <p>@Model.ProductPrice</p>
    <a href="/Product">Products</a>
    
</div>